<h1>Numbers to Words:</h1>
<form action="/display" method="get">
  <label for="number">Enter a number for conversion:</label>
  <input id="number" name="number" type="text" class="form-control">
  <button type="submit" class="btn">Submit Number</button>
</form>
